NOTAS.txt
savegame.dat
settings.ini
.vs/*
.cursor/*
.git/*
PROMPT_MEJORAS_MEDIEVAL_CONQUEST.md
campaign_save.dat
campaign_0.dat
campaign_1.dat
campaign_2.dat
campaign_last.dat
PROMPT_MEJORAS_PREMIUM.md

